
.category{
    list-style-type: none;
    place-content: space-evenly;
    margin-left: 5px;
    margin-right: 5px;
}

.category__chip{
    list-style-type: none;
    place-content: space-evenly;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 40px;
}