.categories{
    overflow-y: overlay;
    display: flex;
    background-color: #6a89cc;
    height: 38px;
    width: 100%;
    position: sticky;
    top: 7vh;
    z-index: 100;
    padding-bottom:10px;
    overflow-y: hidden;
}