@media screen and (max-width: 540px) {

}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .app{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
  .app{
    margin-left: 15%;
    margin-right: 15%;
  }
  
}

@media screen and (min-width: 1200px) and (max-width: 2700px) {
  .app{
    margin-left: 30%;
    margin-right: 30%;
  }
  
}

*{
  margin:0;
}

/* width */
.app__headerCategorias::-webkit-scrollbar {
	height: 5px;
}

/* Track */
.app__headerCategorias::-webkit-scrollbar-track {
  border: 1px solid lightgrey;
  border-radius: 2px;
}
 
/* Handle */
.app__headerCategorias::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
.app__headerCategorias::-webkit-scrollbar-thumb:hover {
  background: lightgrey; 
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6a89cc;
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.2), -12px 0 8px -4px rgba(31, 73, 125, 0.3);
}

.app__headerCategorias{
  overflow-y: overlay;
  display: flex;
  background-color: #6a89cc;
  height: 38px;
  width: 100%;
  position: sticky;
  top: 7vh;
  z-index: 100;
  padding-bottom:10px;
  overflow-y: hidden;
}

/* .app__headerCategoriasChip{
  list-style-type: none;
  place-content: space-evenly;
  margin-left: 5px;
  margin-right: 5px;
} */
